:root {
}

@font-face {
  font-family: 'Exo2.0';
  src: url(./assets/Exo2.0-Thin.eot?) format('eot'), url(./assets/Exo2.0-Thin.woff) format('woff'),
    url(./assets/Exo2.0-Thin.otf) format('opentype'),
    url(./assets/Exo2.0-Thin.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.5)),
    url('./assets/background-tile.png');
  background-color: #222;
}

.app {
  height: 100vh;
  display: flex;
}

.wrapper {
  max-width: 1200px;
  text-align: center;
  margin: auto;
  width: 90%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header {
  font-family: 'Exo2.0';
  font-size: 36px;
  font-weight: 100;
  color: #fff;
  padding: 0 40px;
}
